header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color:#95DB7D;
}

.header-text {
    text-align: center;
}

.busline-search {
    position: relative;
}

.busline-search-list {
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
    width: 200px;
    opacity: 0;
    backdrop-filter: blur(5px);
}

.busline-search input:focus + .busline-search-list {
    opacity: 1;
}

.busline-search-list li {
    padding: 10px 20px;
}

.busline-search-list li:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}